<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.linenisgreat.alfred.arrive</string>
	<key>connections</key>
	<dict>
		<key>1A76CE71-CC93-4E58-AFF5-C7C4A0A2FDA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1B9B49B-83C7-4BBF-AB96-25F61510F2C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>246090ED-2FE1-423A-BE7E-C9CE6C95583C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>423D9466-8F80-428E-B183-150DB63B8160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>282B7F4F-7DCB-4A49-9504-C293295FE731</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DAA4E2E-97BC-4FBF-B24F-333AB944E949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>304D4B17-C5DC-4686-B7D0-F0EDDE7C364C</key>
		<array/>
		<key>3AE244A2-D53F-4B3D-8E89-B35FEEE9F0A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>304D4B17-C5DC-4686-B7D0-F0EDDE7C364C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4686CC6C-4E5D-4317-85CF-D263238140BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AE244A2-D53F-4B3D-8E89-B35FEEE9F0A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E6FE42B-2645-43F5-961E-BD84DDD85898</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>282B7F4F-7DCB-4A49-9504-C293295FE731</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84DC8048-9819-4165-A1A1-34FC0F1E3311</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A76CE71-CC93-4E58-AFF5-C7C4A0A2FDA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DAA4E2E-97BC-4FBF-B24F-333AB944E949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0843CA0E-35EA-498F-AFBE-487CD5ACB81D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F7ADA8E-AACF-406C-901F-571F7E42BD92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>304D4B17-C5DC-4686-B7D0-F0EDDE7C364C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C782BC45-1800-4D53-A956-35E1170B964C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DAA4E2E-97BC-4FBF-B24F-333AB944E949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1B9B49B-83C7-4BBF-AB96-25F61510F2C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>246090ED-2FE1-423A-BE7E-C9CE6C95583C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4B36486-D77B-427F-BA90-94F55E43AF3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB6E5331-1FB5-41EA-8563-B0FB91AED050</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sasha Friedenberg</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Arrive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/nvALT.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9DAA4E2E-97BC-4FBF-B24F-333AB944E949</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/nvALT.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0843CA0E-35EA-498F-AFBE-487CD5ACB81D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>a</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>QUERY="kMDItemKind == \"Plain Text Document\""
mdfind -onlyin ~/Google\ Drive/Notational\ Data $QUERY | ./alfred_from_file_list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Notational Velocity notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C782BC45-1800-4D53-A956-35E1170B964C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

touch ~/Google\ Drive/Notational\ Data/"$query".txt
echo -n ~/Google\ Drive/Notational\ Data/"$query".txt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>282B7F4F-7DCB-4A49-9504-C293295FE731</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>a</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create new Notational Velocity Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7E6FE42B-2645-43F5-961E-BD84DDD85898</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>n</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>QUERY="kMDItemContentType == com.taskpaper.text"
mdfind -onlyin "$taskpaper_notes_path" "$QUERY" | ./alfred_from_file_list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Taskpaper meeting notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9F7ADA8E-AACF-406C-901F-571F7E42BD92</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/TaskPaper.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>304D4B17-C5DC-4686-B7D0-F0EDDE7C364C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>n</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new meeting Taskpaper file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4686CC6C-4E5D-4317-85CF-D263238140BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>FILE="$taskpaper_notes_path/$@.taskpaper"
touch "$FILE"
echo -n "$FILE"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3AE244A2-D53F-4B3D-8E89-B35FEEE9F0A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>na</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New meeting agenda item</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>84DC8048-9819-4165-A1A1-34FC0F1E3311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "$query" &gt;&gt; "$agenda_file"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>423D9466-8F80-428E-B183-150DB63B8160</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Gemma 1:1","arg":"gbarlow"},{"title":"Mentor","arg":"mentor"},{"title":"API Dev Chat","arg":"apidevchat"},{"title":"Office Hours","arg":"officehours"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>What meeting?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>E1B9B49B-83C7-4BBF-AB96-25F61510F2C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>body</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1A76CE71-CC93-4E58-AFF5-C7C4A0A2FDA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>- {var:body} @{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>246090ED-2FE1-423A-BE7E-C9CE6C95583C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$agenda_file"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB6E5331-1FB5-41EA-8563-B0FB91AED050</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nao</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Agenda Items</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E4B36486-D77B-427F-BA90-94F55E43AF3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0843CA0E-35EA-498F-AFBE-487CD5ACB81D</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>1A76CE71-CC93-4E58-AFF5-C7C4A0A2FDA2</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>246090ED-2FE1-423A-BE7E-C9CE6C95583C</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>282B7F4F-7DCB-4A49-9504-C293295FE731</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>304D4B17-C5DC-4686-B7D0-F0EDDE7C364C</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>3AE244A2-D53F-4B3D-8E89-B35FEEE9F0A8</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>423D9466-8F80-428E-B183-150DB63B8160</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>4686CC6C-4E5D-4317-85CF-D263238140BC</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>7E6FE42B-2645-43F5-961E-BD84DDD85898</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>84DC8048-9819-4165-A1A1-34FC0F1E3311</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>9DAA4E2E-97BC-4FBF-B24F-333AB944E949</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>9F7ADA8E-AACF-406C-901F-571F7E42BD92</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>BB6E5331-1FB5-41EA-8563-B0FB91AED050</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>C782BC45-1800-4D53-A956-35E1170B964C</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>E1B9B49B-83C7-4BBF-AB96-25F61510F2C0</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>E4B36486-D77B-427F-BA90-94F55E43AF3B</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>agenda_file</key>
		<string>/Users/sfriedenberg/Google Drive/Documents/Agenda Items.taskpaper</string>
		<key>taskpaper_notes_path</key>
		<string>/Users/sfriedenberg/Google Drive/Meeting Notes</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
