<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.custom.C0DA5773-86E9-4D87-84CE-24A7FCC56EAB</string>
	<key>theme</key>
	<string>alfred.theme.custom.69C198BE-16CD-4DBB-A63A-FC1D8AD08D60</string>
</dict>
</plist>
