<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.linenisgreat.zettel</string>
	<key>connections</key>
	<dict>
		<key>13E9F113-DFEA-40CD-805E-ECEA23220CD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>900C44A0-C4ED-41E4-9DBC-8C56D9AB6D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D5814ED-C16F-416D-995E-7738869CBAD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>221284B2-02B3-4610-B94B-9B84A715BF8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>269A278F-6548-421F-9F51-4AC1E96D977C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>347AC3E7-3632-41A7-907C-226816744196</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>486C81D5-9C4F-46E2-9330-8FF327B98308</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EF55715-BDFA-4F65-BFBF-B86952B87130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>591C4D35-1327-4991-A803-84171A901C0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62AA6EFA-0EE7-4281-A486-86668304065D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F9B68C5-A061-40B1-BA12-9E15821CA97B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>632E4A8B-3565-4FAE-83F4-E001EAC70D9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>269A278F-6548-421F-9F51-4AC1E96D977C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C84E71B-3981-4226-A420-31E84E93C20A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EF55715-BDFA-4F65-BFBF-B86952B87130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90647509-B5DB-4537-A47E-CF41C643CE75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>221284B2-02B3-4610-B94B-9B84A715BF8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>978B92DE-060B-4473-B0DB-BA79D1D1448D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8D2EB26-99CB-4B04-8D22-2E09479FD16C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open files</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>632E4A8B-3565-4FAE-83F4-E001EAC70D9F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open URL's</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4F368CC-C58F-467D-AB29-217054621BCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EEA61D6-0625-470B-903C-EF9A53572FF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4626ED2-6585-4F85-8F85-16126374007D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B25DCC72-385D-4538-91F1-28082AF95CFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EEA61D6-0625-470B-903C-EF9A53572FF5</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4626ED2-6585-4F85-8F85-16126374007D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B36D47B4-EBF8-4401-ADA3-3A87E824E1E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8D2EB26-99CB-4B04-8D22-2E09479FD16C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0391AD3-407F-4787-98DC-0DECF44EAB9A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13E9F113-DFEA-40CD-805E-ECEA23220CD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C77AC6A2-AC57-4817-AE11-A9B51FBB00D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C822DAF0-D9F7-43B4-907B-C5A8856CE025</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E62888FE-94ED-4737-8F22-0ADAEA07B61C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4626ED2-6585-4F85-8F85-16126374007D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>591C4D35-1327-4991-A803-84171A901C0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4F368CC-C58F-467D-AB29-217054621BCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D761F97C-7340-4373-9717-EB499709B092</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBD7690E-326B-4130-AC0C-928BA90D0CAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1D8A30D-4702-4D11-9B7E-AD0B66DB2564</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F63E80DD-2D11-4A18-8141-74CE49C17A19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E62888FE-94ED-4737-8F22-0ADAEA07B61C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>347AC3E7-3632-41A7-907C-226816744196</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E930A5C7-5894-49B1-A64C-58F1EA230567</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EF55715-BDFA-4F65-BFBF-B86952B87130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C84E71B-3981-4226-A420-31E84E93C20A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B36D47B4-EBF8-4401-ADA3-3A87E824E1E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF3EA45B-AB46-43B9-A4DE-A68193B90D7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E1D8A30D-4702-4D11-9B7E-AD0B66DB2564</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>zettel</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
nohup z edit $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F9B68C5-A061-40B1-BA12-9E15821CA97B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source up.bash
set -x
z cat -format alfred-json -v
#zit cat-alfred -type zettel</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>z</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Zettels</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>62AA6EFA-0EE7-4281-A486-86668304065D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>open-files</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B8D2EB26-99CB-4B04-8D22-2E09479FD16C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
echo $1 &gt;&amp;2
echo $action &gt;&amp;2
z edit -query "$1" -actions "$actions"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zq</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source up.bash
z cat -format alfred-tags</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>z</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Zettels matching a query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>978B92DE-060B-4473-B0DB-BA79D1D1448D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>open-urls</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>632E4A8B-3565-4FAE-83F4-E001EAC70D9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>edit</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4F368CC-C58F-467D-AB29-217054621BCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Zettelkasten</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>D761F97C-7340-4373-9717-EB499709B092</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash

nohup z add -kind files -actions edit,open-files "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBD7690E-326B-4130-AC0C-928BA90D0CAB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash

z exec 1630274941 \
	| jq -r ".[]" \
	| nohup xargs z add -kind urls -actions edit -tags "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F63E80DD-2D11-4A18-8141-74CE49C17A19</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter tags to add</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E1D8A30D-4702-4D11-9B7E-AD0B66DB2564</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FF3EA45B-AB46-43B9-A4DE-A68193B90D7E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C0391AD3-407F-4787-98DC-0DECF44EAB9A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
nohup z add -kind urls -actions edit "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>900C44A0-C4ED-41E4-9DBC-8C56D9AB6D65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
z exec 1640193865</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>chrome_get_current_url.z.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13E9F113-DFEA-40CD-805E-ECEA23220CD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy to Zettelkasten</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E930A5C7-5894-49B1-A64C-58F1EA230567</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>kind</key>
					<string>files-copy</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4EF55715-BDFA-4F65-BFBF-B86952B87130</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>edit,open-files</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7C84E71B-3981-4226-A420-31E84E93C20A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
actions="${actions:-edit}"

nohup z add -kind "$kind" -actions "$actions" "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>591C4D35-1327-4991-A803-84171A901C0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>actions</key>
					<string>edit,open-files</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9EEA61D6-0625-470B-903C-EF9A53572FF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Zettelkasten</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B25DCC72-385D-4538-91F1-28082AF95CFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>kind</key>
					<string>files</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4626ED2-6585-4F85-8F85-16126374007D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
z cat -format "%b" "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>347AC3E7-3632-41A7-907C-226816744196</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C822DAF0-D9F7-43B4-907B-C5A8856CE025</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source up.bash
z cat -format alfred-json-snippets</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E62888FE-94ED-4737-8F22-0ADAEA07B61C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source up.bash
z cat -format alfred-json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash
z cat -format "%z" "$@" | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B36D47B4-EBF8-4401-ADA3-3A87E824E1E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>C77AC6A2-AC57-4817-AE11-A9B51FBB00D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>source up.bash
zit cat-alfred -dir-zit ~/zit -type etikett</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>486C81D5-9C4F-46E2-9330-8FF327B98308</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>269A278F-6548-421F-9F51-4AC1E96D977C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>Y</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>90647509-B5DB-4537-A47E-CF41C643CE75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source up.bash

cd ~/Zettelkasten/1630158745
open -na "Google Chrome" --args --new-window "$(./pick_class.bash "$1")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>221284B2-02B3-4610-B94B-9B84A715BF8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>yg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open yoga class</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1D5814ED-C16F-416D-995E-7738869CBAD3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13E9F113-DFEA-40CD-805E-ECEA23220CD8</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>1D5814ED-C16F-416D-995E-7738869CBAD3</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>2090</integer>
		</dict>
		<key>221284B2-02B3-4610-B94B-9B84A715BF8C</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>1960</integer>
		</dict>
		<key>269A278F-6548-421F-9F51-4AC1E96D977C</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>1850</integer>
		</dict>
		<key>347AC3E7-3632-41A7-907C-226816744196</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>1565</integer>
		</dict>
		<key>3F9B68C5-A061-40B1-BA12-9E15821CA97B</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>486C81D5-9C4F-46E2-9330-8FF327B98308</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1820</integer>
		</dict>
		<key>4EF55715-BDFA-4F65-BFBF-B86952B87130</key>
		<dict>
			<key>note</key>
			<string>-kind files-copy</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>1215</integer>
		</dict>
		<key>591C4D35-1327-4991-A803-84171A901C0A</key>
		<dict>
			<key>note</key>
			<string>z new --with-file</string>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>1315</integer>
		</dict>
		<key>61F2BA51-DFAC-482A-BCA0-67082B2BE2EB</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>1695</integer>
		</dict>
		<key>62AA6EFA-0EE7-4281-A486-86668304065D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>632E4A8B-3565-4FAE-83F4-E001EAC70D9F</key>
		<dict>
			<key>note</key>
			<string>open urls</string>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6E394148-F0B0-4AD2-B0A9-1E9E7DF3A56D</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>1820</integer>
		</dict>
		<key>7C84E71B-3981-4226-A420-31E84E93C20A</key>
		<dict>
			<key>note</key>
			<string>-actions edit,open-files</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1270</integer>
		</dict>
		<key>84E814BA-7190-4987-B8B9-8302163358DB</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>900C44A0-C4ED-41E4-9DBC-8C56D9AB6D65</key>
		<dict>
			<key>note</key>
			<string>z new</string>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>90647509-B5DB-4537-A47E-CF41C643CE75</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1960</integer>
		</dict>
		<key>978B92DE-060B-4473-B0DB-BA79D1D1448D</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>9EEA61D6-0625-470B-903C-EF9A53572FF5</key>
		<dict>
			<key>note</key>
			<string>-actions edit,open-files</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1370</integer>
		</dict>
		<key>B25DCC72-385D-4538-91F1-28082AF95CFA</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1420</integer>
		</dict>
		<key>B36D47B4-EBF8-4401-ADA3-3A87E824E1E1</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>1695</integer>
		</dict>
		<key>B8D2EB26-99CB-4B04-8D22-2E09479FD16C</key>
		<dict>
			<key>note</key>
			<string>open files</string>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>C0391AD3-407F-4787-98DC-0DECF44EAB9A</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>C77AC6A2-AC57-4817-AE11-A9B51FBB00D9</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1695</integer>
		</dict>
		<key>C822DAF0-D9F7-43B4-907B-C5A8856CE025</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1565</integer>
		</dict>
		<key>CBD7690E-326B-4130-AC0C-928BA90D0CAB</key>
		<dict>
			<key>note</key>
			<string>z new --with-file</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>D4626ED2-6585-4F85-8F85-16126374007D</key>
		<dict>
			<key>note</key>
			<string>-kind files</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>1450</integer>
		</dict>
		<key>D4F368CC-C58F-467D-AB29-217054621BCA</key>
		<dict>
			<key>note</key>
			<string>edit</string>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>D761F97C-7340-4373-9717-EB499709B092</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>E1D8A30D-4702-4D11-9B7E-AD0B66DB2564</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>E62888FE-94ED-4737-8F22-0ADAEA07B61C</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>1565</integer>
		</dict>
		<key>E930A5C7-5894-49B1-A64C-58F1EA230567</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1185</integer>
		</dict>
		<key>F60AF8A6-A89F-4B56-9FE0-3C117CBF0AB3</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>1695</integer>
		</dict>
		<key>F63E80DD-2D11-4A18-8141-74CE49C17A19</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>FF3EA45B-AB46-43B9-A4DE-A68193B90D7E</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ZETTEL_PATH</key>
		<string>~/Zettelkasten</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
