<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.linenisgreat.zettel</string>
	<key>connections</key>
	<dict>
		<key>00AFDE95-80F8-4BC7-8892-CE76CF46CA51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF84B909-1E7A-4BD8-930B-B684AE486CC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37B634A3-5F9E-4B8C-9CBB-5B4363591AB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E0671B-543F-4861-A33F-8645AEBD09E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43E8283E-1D97-43EE-9656-79B5A372E008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>775320FD-3690-4555-9602-0BBAEE39B565</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7B77939-217E-4ABC-A332-71414D14A7C4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open and edit Zettel</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>240CED5C-F644-4451-9FCD-2D9B40771A49</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open the attached file or url</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87C785A2-9F4D-494A-BDE7-BD5E0CC56A87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E4B810A-D619-4BCD-9FF3-6E9A2203D2CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A423CA23-B66B-4C80-9EF4-10E49CA193D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2E0671B-543F-4861-A33F-8645AEBD09E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B25DCC72-385D-4538-91F1-28082AF95CFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43E8283E-1D97-43EE-9656-79B5A372E008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF84B909-1E7A-4BD8-930B-B684AE486CC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>zettel</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e
./z open --action --edit "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7B77939-217E-4ABC-A332-71414D14A7C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e
./z open --action "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>240CED5C-F644-4451-9FCD-2D9B40771A49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>set -e
z="${ZETTEL_PATH/#\~/$HOME}"
./z print</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>z</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>775320FD-3690-4555-9602-0BBAEE39B565</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new Zettel</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00AFDE95-80F8-4BC7-8892-CE76CF46CA51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e
z="${ZETTEL_PATH/#\~/$HOME}"
./z new</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF84B909-1E7A-4BD8-930B-B684AE486CC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e
./z edit "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84E814BA-7190-4987-B8B9-8302163358DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set -e
z="${ZETTEL_PATH/#\~/$HOME}"
./z add "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43E8283E-1D97-43EE-9656-79B5A372E008</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Zettelkasten</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>B25DCC72-385D-4538-91F1-28082AF95CFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>o</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>t.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>87C785A2-9F4D-494A-BDE7-BD5E0CC56A87</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>chrome_tab_open.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E4B810A-D619-4BCD-9FF3-6E9A2203D2CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>o</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH="$PATH /usr/local/bin"
export PATH
ag "#todo" "$(realpath "$ZETTEL_PATH")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>p.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a bookmark</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>37B634A3-5F9E-4B8C-9CBB-5B4363591AB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>h</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH="$PATH /usr/local/bin"
export PATH
ag "#todo" "$(realpath "$ZETTEL_PATH")"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>h.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open a history link</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A423CA23-B66B-4C80-9EF4-10E49CA193D6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E2E0671B-543F-4861-A33F-8645AEBD09E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00AFDE95-80F8-4BC7-8892-CE76CF46CA51</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>1E4B810A-D619-4BCD-9FF3-6E9A2203D2CC</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>240CED5C-F644-4451-9FCD-2D9B40771A49</key>
		<dict>
			<key>note</key>
			<string>z open --action</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>37B634A3-5F9E-4B8C-9CBB-5B4363591AB1</key>
		<dict>
			<key>note</key>
			<string>bookkmarks</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>43E8283E-1D97-43EE-9656-79B5A372E008</key>
		<dict>
			<key>note</key>
			<string>z add</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>775320FD-3690-4555-9602-0BBAEE39B565</key>
		<dict>
			<key>note</key>
			<string>z print</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>84E814BA-7190-4987-B8B9-8302163358DB</key>
		<dict>
			<key>note</key>
			<string>z edit</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>87C785A2-9F4D-494A-BDE7-BD5E0CC56A87</key>
		<dict>
			<key>note</key>
			<string>tabs</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>A423CA23-B66B-4C80-9EF4-10E49CA193D6</key>
		<dict>
			<key>note</key>
			<string>history</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>B25DCC72-385D-4538-91F1-28082AF95CFA</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>B7B77939-217E-4ABC-A332-71414D14A7C4</key>
		<dict>
			<key>note</key>
			<string>z open --action --edit</string>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>DF84B909-1E7A-4BD8-930B-B684AE486CC4</key>
		<dict>
			<key>note</key>
			<string>z new</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>E2E0671B-543F-4861-A33F-8645AEBD09E6</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ZETTEL_PATH</key>
		<string>~/Zettelkasten</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
